<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http//ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1"
>
<head>
  <meta charset="UTF-8">
  <title>View Patients</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.5/css/bootstrap.min.css">

</head>
<body>
<div layout:fragment="content1">

  <div class="card">

    <div class="card-body">
      <h5 th:text="${patient.nom}" class="card-title"></h5>
      <p th:text="${patient.dateNaissance}" class="card-text"></p>
      <p th:text="${patient.score}" class="card-text"></p>
      <p th:text="'Malade : ' + ${patient.malade} " ></p>
      <a href="/index" class="btn btn-primary">Retour à la liste des patients</a>
    </div>

  </div>







</div>
</body>
</html>